body{
		background-color:#C9E3D8;
}
.hm{
	text-align:left;
}


#main{
	height: auto;
	padding:30px;
	margin-left:auto;
	margin-right:auto;
}

.logo{
	text-align:center;
}
.pr{
	text-align:center;
	color:#3F4542;
	font-family: Jazz LET, fantasy;
}


.pr2{
	text-align:center;
	color:#000000;
	font-family: FreeMono, monospace;
	font-size:19;
}

.video{
	
	text-align:center;
	
}	